<form action="/admin/logout" method="GET" class="nav-item d-flex align-items-center">
  <button type="submit" class="nav-link btn text-body font-weight-bold px-0 d-flex justify-content-center align-items-center gap-1">
    <i class="material-icons opacity-10">logout</i>
    <span class="d-sm-inline d-none">Logout</span>
  </button>
</form>